asgiref==3.12.1
charset-normalizer==3.5.2
Django==5.2.17
django-cors-headers==4.9.0
django-environ==0.14.0
django-filter==26.1
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
pillow==12.3.0
psycopg==3.3.6
psycopg-binary==3.3.6
PyJWT==2.15.1
reportlab==5.0.1
sqlparse==0.6.0
typing_extensions==4.16.0
tzdata==2026.5
waitress==3.0.2
whitenoise==6.12.0
